**~
**.pyc
**.py.swp
**.out
**.txt
**.csv
**.log
**.py.orig
TestResult/**
tmpmdl.txt
tmp/**
RFclassifier/extractfeature/ECGrandrel.json
RFclassifier/extractfeature/WTcoefrandrel.json
EvaluationSchemes/*.xlsx
QTdata/TmpImg/**
PaperResults/**/*.png
PaperResults/**/*.dot
PaperResults/**/*.svg
PaperResults/**/*.pdf
PaperResults/**/*.ps
PaperResults/**/*.eps
PaperResults/**/*.rar
