**~
**.pyc
**.py.swp
**.out
**.txt
**.csv
**.log
**.py.orig
TestResult/**
PaperResults/**
tmpmdl.txt
tmp/**
RFclassifier/extractfeature/ECGrandrel.json
RFclassifier/extractfeature/WTcoefrandrel.json
QTdata/TmpImg/**
