<tr>
    <th style="height:3em; border-style:dashed;border-color:goldenrod4;">${record_name}</th>
<tr>

<tr>
<td class="record_table">meam & std(ms)</td>
<td class="record_table">${Ponset_error}</td>
<td class="record_table">${Ppeak_error}</td>
<td class="record_table">${Poffset_error}</td>
<td class="record_table">${Ronset_error}</td>
<td class="record_table">${Rpeak_error}</td>
<td class="record_table">${Roffset_error}</td>
<td class="record_table">${Tpeak_error}</td>
<td class="record_table">${Toffset_error}</td>
</tr>

<tr>
<td class="record_table">False Negtive</td>
<td class="record_table">${Ponset_se}</td>
<td class="record_table">${Ppeak_se}</td>
<td class="record_table">${Poffset_se}</td>
<td class="record_table">${Ronset_se}</td>
<td class="record_table">${Rpeak_se}</td>
<td class="record_table">${Roffset_se}</td>
<td class="record_table">${Tpeak_se}</td>
<td class="record_table">${Toffset_se}</td>
</tr>

<tr>
    <td class="record_table">False Positive</td>
<td class="record_table">${Ponset_pp}</td>
<td class="record_table">${Ppeak_pp}</td>
<td class="record_table">${Poffset_pp}</td>
<td class="record_table">${Ronset_pp}</td>
<td class="record_table">${Rpeak_pp}</td>
<td class="record_table">${Roffset_pp}</td>
<td class="record_table">${Tpeak_pp}</td>
<td class="record_table">${Toffset_pp}</td>
</tr>
